{% extends 'main.html' %} {% load static %} {% block content %}
<div>
  <form
    method="POST"
    action=""
    style="
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px;
      gap: 1rem;
    "
  >
    {% csrf_token %}

    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter Password" />

    <button class="btn btn-primary">Login</button>
  </form>
</div>

{% endblock content %}
